<h1>Welcome to Ruby on Rails application!</h1>

<%= link_to "Routes list", admin_routes_path%>
<%= link_to "Stations list", admin_railway_stations_path %>
<%= link_to "Trains list", admin_trains_path %>