<p>Hello, <%= @user.email %></p>

<p>You buy ticket to rout <%= @ticket.route_name %></p>
<p>You can see your ticket <%= link_to 'here', @ticket %></p>
<p>You can see all yours tickets <%= link_to 'here', tickets_url %></p>
